@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #6610f2;
}
/**********header | logo + menu ****************/
.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}
.header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    

}
.nav_logo{
    padding: 10px;
}
.menu_items{
    display:flex;
    list-style: none;
    gap:20px ;
}
a{
    color: #fff;
    text-decoration: none;
}


.nav  li a:hover{

    color: #080707;

}

/***********hero  | banner ********************/
.hero{
    min-height: 100vh;
    width: 100%;
    background: url(CN_img/bg-dot.png), url(CN_img/bg-dot.png), url(CN_img/bg-round.png),url(CN_img/bg-tree.png), url(CN_img/bg-bottom-hero.png);
    background-repeat: no-repeat;
    background-position: 10px 10px, bottom 190px right 10px ,left 55% top -1% , left 45% bottom -1px,
     center bottom -1px;

}
.hero .row{
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 60px;
    gap:30px; 
    justify-content: space-between;
}
.hero .row h2,
.hero .row p{
    color: #fff;
}

.hero .row h2{
    font-size: 36px;
    margin-bottom: 16px;
}
.hero .col2{
    width: 50%;
}
.button{
    display:flex;
    margin-top: 25px;
    gap:10px;
}
.btn{
    padding: 14px 15px ;
    background: #fff;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:last-child{
    border: 2px solid #fff;
    background: transparent;
    color:  #fff;
}
.btn:last-child:hover {
    background-color: #fff;
    color: #333;

}
.hero_img{
    width: 100%;
}

#menu_toggle{
    display: none;
}

/*****Responsive *****/
@media (width < 860px ){
    #menu_toggle{
        display: block;
    }
    .nav{
        background: #fff;
        padding: 0 20px;
    }
 
    .menu_items{
        position: fixed;
        top: 0;
        width: 260px;
        background: #fff;
        height: 100%;
        left: -100%;
        flex-direction: column;
        padding: 50px 30px 30px;
        transition: all 0.5s ease;
    }
    .showMenu .menu_items{
        left: 0px;
    }
    a{
        color: #333;
    }
    #menu_toggle{
        width: 20px;
        cursor: pointer;
    }
    .menu_items #menu_toggle{
        position: absolute;
        top: 20px;   
        right: 20px;
    }
    .hero{
        padding-top: 140px;

    }
    .hero .row{
        flex-direction: column;
        padding: 0 20px;
    }
    .hero .row .col2{
        width: 100%;
    }
}


@media (width < 600px ){
    .hero{
        padding-top: 100px;

    }
    .hero h2{
        font-size: 26px;
    }
    .button{
        justify-content: center;
    }
    .btn{
        padding: 10px 16px;
    }
}